html {
    font-size: 62.5%;
}


.container1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    width: 100%;
    height: 100%;
    color: rgb(82, 73, 73);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 80rem;
    height: 52rem;
    background-color: #eeedea;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
    width: 100%;
    height: 12rem;
    background-color: #c2b089;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
    font-size: 2.5rem;
    cursor: pointer;
}

.month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.month p {
    font-size: 1.6rem;
}

.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    color: rgb(133, 94, 67);
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(79.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div {
    color: rgb(82, 63, 27);
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(75.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.4s;
}

.days div:hover:not(.today) {
    background-color: #ac9778;
    border: 0.2rem solid rgb(228, 228, 228);
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

.today {
    background-color: #c0a586;
}
.card-body{
    background-color:#eeedea;
    border-color: #abc4ff;
}
.btn-primary{
    background-color: #8ba0bd;
    border-color: #8ba0bd;
    margin: 2px;
}
h3{
    text-align: center;
    margin-bottom: 1.5rem;
}
