/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */
/* removing text decorations */
a {
    text-decoration: none;
    color: black;

}

/* Bullet point removal and rounded card edges */
li {
    list-style-type: none;
  }


.schedule {
    width: 100%;
}
.btn-primary {
    background-color: #3a7ca5;
    border: none;
    
}
/* changes all button colors*/
.btn-primary:hover {
    background-color: #2f6690;
}
/* changes all hover  */
.icons:hover {
    background-color: #2f6690;
    border-radius: 10px;
}

#logo {
    size: 1em; 
}

/* For the comment section */
#description {
    border-radius: 5%;
}

/* For the spotlight odescriptions */
.spotbox {
    background-color: white;
    width: 100%;
    padding: 5%;
    border-radius: 10px;
    text-align: center;
}
/* Comment text box */
.form-group {
    margin-bottom: 55px;
    padding-bottom: 15px;
}

/* Comment section */
.card-body {
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px;
    background-color: #f1f1f1;
    padding-top: 10px;
    margin-top: 10px;
}
/* Reveal Comments Button */
.reveal {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}
/* Get rid of more decorations */
button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* remove the a:href blue hobver */
a:hover {
    color: inherit;

}

#side {
    width: 5%;
}


h1 {
    text-align: center;
}

.card {
    background-color: #b6ccfe;
    border-radius: 10px;
    text-align: center;
    border: none;
}

/* card group sizing. */
.card-group img {
    height: 250px;
}

/* Leaderboard Header/Image */
.card .country_header_styling{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    /* width: 30rem; */
    overflow: wrap ;

}


/* h2 hover upon the leaderboard header changes color */
h2:hover{
    background-color: lightblue;
    border-radius: 5px;
    transition: background-color 0.8s;
}

/* Mini flag icons for leaderboards. */
.card #headingOne img{
    width: 2rem;
    border-radius: 2px;
}

.card #headingTwo img{
    width: 2rem;
    border-radius: 2px;
}

.card #headingThree img{
    width: 2rem;
    border-radius: 2px;
}


/* Table borders w/ some light padding */
td {
    border: solid black 2px;
    width: 15%;
    padding: 2em;
}

.navhov:hover {
    text-decoration: none;
    background-color: #f1f1f1;
    border-radius: 10%;
}

.title {
    text-align: center;
}

.buttons {
    text-align: center;
    border-radius: 10px;
    border: solid 0.2px black;
}
.card-size{
    width: 30%
}

.login {
    border-radius: 50%;
    text-decoration: none;
}

/* for bottom navbar elements */
.icons {
    text-align: center;
    width: 24%;
    padding-top: 15px;

}
.footer_icons {
    text-align: center;
    width: 19%;
    padding-top: 15px;

}

.icons:hover {
    color: #f1f1f1;
}

/* for top navbar elements */
.nav_elements {
    width: 100%;
    
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* footer */
footer {
    position: fixed;
    height: 75px;
    bottom: 0;
    width: 100%;
    opacity: 1;
    background-color: #d7e3fc;
    border-radius: 10px;
}
/* Aid footer to not block the contents */
body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;

}

#help {
    float:right;
}

/* media query */
@media (max-width: 600px) {

    li {
        float: right;
    }
    .schedule {
        width: 100%;
        table-layout: auto;
        display: hidden;

    }
    .card-size{
        width: 100%;

        /* height: 100rem; */
    }



}
